<html>
<head>
<script src="angular.js" charset="utf-8"></script>
<script src="underscore.js" charset="utf-8"></script>
<script src="transforms.js" charset="utf-8"></script>
<script src="formatDateFromTwitter.js" charset="utf-8"></script>
<script src="loremipsum.js" charset="utf-8"></script>
<script src="tweetcloud.js" charset="utf-8"></script>
<script src="ui-bootstrap-tpls-0.11.0.js" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" href="bootstrap.css"></link>
<style>
div.toolbar .tool { 
	display:inline; 
	background-color:#eee; 
	border:1px solid; 
	border-color:#f3f3f3 #bbb #bbb #f3f3f3; 
	margin:0; 
	padding:.5em; 
	zoom: 1;  
	font: 12pt Calibri, Verdana, Arial, Helvetica, sans-serif;
}
div.tc { padding: .5em; font: 12pt Calibri, Verdana, Arial, Helvetica, sans-serif; }
button.cloud {}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
</style>
</head>

<body data-ng-app="tweetcloud" data-ng-controller="cloud">
<nav role="navigation" class="navbar navbar-default">
	<div class="navbar-header">
		<ul class="nav navbar-nav">
			<li><a>{{ resultCount }}/{{ contentCount() }} tweets</a></li> 
			<li><a>{{ transformCount() }} transformations</a></li>
			<li><a>Buttons
				<div class="btn-group">
					<label class="btn btn-default" id="more" data-ng-click="more()">More</label>
					<label class="btn btn-default" id="less" data-ng-click="less()">Less</label>
					<label class="btn btn-default" id="bigger" data-ng-click="bigger()">Bigger</label>
					<label class="btn btn-default" id="smaller" data-ng-click="smaller()">Smaller</label>
				</div></a>
			</li>
			<li><a>Content
				<div class="btn-group">
					<label class="btn btn-default" data-ng-click="showTweets = !showTweets">Toggle</label>
					<label class="btn btn-default" id="refresh" data-ng-click="initialize();">Refresh</label> <!-- Currently doesn't work because content is constant -->
					<label class="btn btn-default" id="revert" data-ng-click="initialize()">Revert</label>
				</div></a>
			</li>
			<li><a>{{ queryToString() }}</a></li>
		</ul>
	</div>
</nav>
<div class="tc" id="content">
	<button class="cloud btn btn-default btn-xs" 
		data-ng-repeat="wordspec in words" 
		data-ng-click="addQueryTerm(wordspec.filter);buildCloud();filterContent();"
		data-ng-style="wordspec.style"
		>{{ wordspec.word }}</button>
	<ul collapse="!showTweets"><li data-ng-repeat="tweet in matches">{{tweet}}</li></ul>
</div>
</body>
</html>