<html>
<head>
<script src="angular.js" charset="utf-8"></script>
<script src="underscore.js" charset="utf-8"></script>
<script src="transforms.js" charset="utf-8"></script>
<script src="formatDateFromTwitter.js" charset="utf-8"></script>
<script src="loremipsum.js" charset="utf-8"></script>
<script src="tweetcloud.js" charset="utf-8"></script>
<script src="ui-bootstrap-tpls-0.11.0.js" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" href="bootstrap.css"></link>
<style>
div.toolbar .tool { 
	display:inline; 
	background-color:#eee; 
	border:1px solid; 
	border-color:#f3f3f3 #bbb #bbb #f3f3f3; 
	margin:0; 
	padding:.5em; 
	zoom: 1;  
	font: 12pt Calibri, Verdana, Arial, Helvetica, sans-serif;
}
div.tc { padding: .5em; font: 12pt Calibri, Verdana, Arial, Helvetica, sans-serif; }
button.control { vertical-align: middle; }
button.cloud {}
</style>
</head>

<body data-ng-app="tweetcloud" data-ng-controller="cloud">
<div class="toolbar">
	<div class="tool">{{ resultCount }}/{{ contentCount() }} tweets</div> 
	<div class="tool">{{ transformCount() }} transformations</div>
	<div class="tool">Buttons
		<div class="btn-group">
			<label class="btn btn-primary" id="more" data-ng-click="more()">More</label>
			<label class="btn btn-primary" id="less" data-ng-click="less()">Less</label>
			<label class="btn btn-primary" id="bigger" data-ng-click="bigger()">Bigger</label>
			<label class="btn btn-primary" id="smaller" data-ng-click="smaller()">Smaller</label>
		</div>
	</div>
	<div class="tool">Content
		<button class="control" id="refresh" data-ng-click="initialize();">Refresh</button> <!-- Currently doesn't work because content is constant -->
		<button class="control" id="revert" data-ng-click="initialize()">Revert</button>
	</div>
	<div class="tool">{{ queryToString() }}</div>
</div>
<div class="tc" id="content">
	<button class="cloud" 
		data-ng-repeat="wordspec in words" 
		data-ng-click="addQueryTerm(wordspec.filter);buildCloud();filterContent();"
		data-ng-style="wordspec.style"
		>{{ wordspec.word }}</button>
	<ul><li data-ng-repeat="tweet in matches">{{tweet}}</li></ul>
</div>
</body>
</html>