<html>
<head>
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAZZxUJfOIowhikYYS-eJkqBQiRW4WmGTb-SWK1gAwisdSMaJWPBQV3W7DyTe5nUAYG9z0uYEmdlSLTw"></script>
<!-- script src="//platform.twitter.com/widgets.js" charset="utf-8"></script-->
<script src="angular.js" charset="utf-8"></script>
<script src="underscore.js" charset="utf-8"></script>
<script src="transforms.js" charset="utf-8"></script>
<script src="formatDateFromTwitter.js" charset="utf-8"></script>
<script src="loremipsum.js" charset="utf-8"></script>
<script src="tweetcloud.js" charset="utf-8"></script>

<style>
div.tc { border: 1px solid black; padding: 3px; font: 12pt Calibri, Verdana, Arial, Helvetica, sans-serif; }
button.control {}
button.cloud {}
</style>
</head>

<body data-ng-app="tweetcloud">
<div class="tc" data-ng-controller="cloud">
{{ contentCount() }} tweets | {{ transformCount() }} transformations
<button class="control" id="more" data-ng-click="more()">More</button>
<button class="control" id="less" data-ng-click="less()">Less</button>
<button class="control" id="refresh" data-ng-click="initialize();">Refresh</button>
<button class="control" id="revert" data-ng-click="revert()">Revert</button>
{{ queryToString() }}
</div>
<div class="tc" id="content" data-ng-controller="cloud">
	<button class="cloud" 
		data-ng-repeat="wordspec in words" 
		data-ng-click="addQueryTerm(wordspec.filter);buildCloud();"
		data-ng-style="wordspec.style"
		>{{ wordspec.word }}</button>
	<ul><li data-ng-repeat="tweet in filterContent()">{{tweet}}</li></ul>
</div>
</body>
</html>